services:
  api:
    container_name: paw_buddy_api_${ENV}
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    depends_on:
      - db
    image: paw_buddy_api_${ENV}
    networks:
      - paw_buddy_net
    env_file:
      - .env.${ENV}

  db:
    container_name: ${DB_HOST}
    image: postgres:14.3
    restart: no
    ports:
      - '${DB_EXPOSED_PORT}:${DB_PORT}'
    networks:
      - paw_buddy_net
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGPORT: ${DB_PORT}
    volumes:
      - ./postgres/${ENV}:/var/lib/postgresql/data

networks:
  paw_buddy_net:
